
html,
body {
  color: white;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
  margin-top: 10px;
}
h1 {
  color: #1b1b32;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}
.aplicacion-tareas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/*logo de freecodecamp*/

.freecodecamp-logo-contenedor {
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.freecodecamp-logo {
  width: 400px;
  height: 53px;
}
/* lista de Tareas */

.tareas-lista-principal {
  width: 600px;
  min-height: 700px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 26px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
  color: #fff;
}
@media (max-width: 500px) {
  .freecodecamp-logo-contenedor {
    width: 100%;
    margin: 10px;
  }
  .freecodecamp-logo {
    width: 280px;
    height: 43px;
  }
  h1 {
    color: #1b1b32;
    font-size: 25px;
    margin: 10px 0;
  }
  .tareas-lista-principal {
    width: 280px;
    min-height: 300px;
    background-color: #d0d0d5;
    padding: 12px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    -ms-border-radius: 26px;
    -o-border-radius: 26px;
    color: #fff;
  }
}
